<h3 class="mat-h3">Default account information</h3>

<div fxLayout="row" fxLayoutAlign="start center">
  <span fxFlex="15">Address:</span>
  <span fxFlex>
    <mat-chip color="accent" selected>{{ defaultAcc }}</mat-chip>
  </span>
</div>
<p></p>
<div fxLayout="row" fxLayoutAlign="start center">
  <span fxFlex="15">Balance:</span>
  <span fxFex>
    <mat-chip color="warn" selected> {{ balance$ | async }}</mat-chip>
  </span>
</div>

<p></p>

<mat-progress-bar mode="determinate"></mat-progress-bar>
<p></p>

<div fxLayout="row" fxLayoutAlign="start  stretch">
  <span fxFlex="60" class="inline-block--50">
    <h3 class="mat-h3">Select default account</h3>

    <form [formGroup]="frmGroup">
        <mat-radio-group formControlName="defoAdr"  (change)="onRadioChange($event)">
            <mat-radio-button *ngFor="let address of (accounts$ | async)"
              [value]="address">
              {{ address }}
            </mat-radio-button>
          </mat-radio-group>
    </form>

  </span>


  <span fxFlex="35" fxFlexOffset="5" class="inline-block--50">
    <h3 class="mat-h3">Manage Pokemon moves</h3>

    <a
      mat-flat-button
      color="warn"
      routerLink="/pokey-attacks"
      routerLinkActiveOptions="{ exact: true }"
    >
      Groundon Fast Attacks
    </a>
  </span>
</div>
