<div fxLayout="row" fxLayoutAlign="center start">

  <mat-card fxFlex="40">

    <mat-card-header>
      <a mat-card-avatar class="pokemon-header-image" routerLink="/pokey-home"></a>
      <mat-card-title>Smart Contract with Angular and NgRx</mat-card-title>
      <mat-card-subtitle>Pokemon {{ pokemonName }} on Ethereum blockchain</mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions>
      <a mat-stroked-button  routerLink="/eth-accounts"
         routerLinkActive="active-link"
         routerLinkActiveOptions="{ exact: true }"
         routerLinkActiveOptions="true">
             Connect To Blockchain
      </a>


      <a mat-stroked-button  routerLink="/pokey-attacks"
        routerLinkActive="active-link"
        routerLinkActiveOptions="{ exact: true }"
        routerLinkActiveOptions="true"
        >Manage Fast Attacks</a
      >

    </mat-card-actions>

    <mat-card-content>
      <router-outlet></router-outlet>
    </mat-card-content>
  </mat-card>
</div>
