

<div fxLayout="row" fxLayoutAlign="center start">

  <mat-card fxFlex="45">
      <mat-card-header>
          <div mat-card-avatar class="pokemon-header-image"></div>
          <mat-card-title>Smart Contract with Angular and NgRx</mat-card-title>
          <mat-card-subtitle>Pokemon {{pokemon}} on Ethereum blockchain</mat-card-subtitle>
      </mat-card-header>

      <mat-card-actions>
          <a mat-stroked-button color="accent" routerLink=".">Accounts</a>
          <a mat-stroked-button color="warn" routerLink=".">Manage Fast Attacks</a>
      </mat-card-actions>

      <router-outlet></router-outlet>




      </mat-card>
</div>



<!--
<app-eth-account></app-eth-account>

<app-attack-change></app-attack-change>
-->
